.background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tankbutton{
    width: 100%;
}

.layers{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
}

.layershover{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 1;
}
