section{
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0;
    filter: blur(2px); 
    transition: all 1s; 
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
}
