section{
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0;
}

.text-1-1{
    opacity: 0;
    filter: blur(1px); 
    transform: translateY(-5%);
    transition: all 2.5s; 
}

.text-1-2{
    opacity: 0;
    filter: blur(2px); 
    transform: translateY(30%);
    transition: all 3s; 
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
